@tailwind base;
@tailwind components;
@tailwind utilities;



@media (max-width: 767.98px) { 
.Respons{
    width: auto;
}

}
.nav{
    width: 170px !important;
}

.loginBg{
    background-image: url(../src/assets/imgaes/bg/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rgistraBg{
    background-image: url(../src/assets/imgaes/bg/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}